
*{
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary: #E76F51;
    --hover: #bb492d;
    --white: #FFFFFF;
}

header {
    background: linear-gradient(#264653,#264653);
}
.banner-bike {
    background: url(../images/Group\ 33068.png);
    background-position: 94% 10%;
    /* background-size: contain; */
    background-repeat:no-repeat;
}
.custom {
    background: var(--primary);
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 10px 35px;
}
.custom:hover {
    background: var(--hover);
}
.custom-outline {
    background: transparent;
    color: var(--primary);
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    padding: 10px 35px;
    transition: all 0.2s ease-in;
}
.custom-outline:hover {
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
}
.logo {
    font-size: 35px;
}
.text-color .nav-link,
.text-color .nav-link.active{
    color: var(--white);
}

.feature_title > div{
    width: 200px;
    height: 1px;
    background: #E76F51;
    border: 1px solid #E76F51;
    margin: 0 auto;
}

.latest_news .row .card-body {
    height: 520px;
}
img.star {
    width: 20px;
    height: 20px;
}